In [37]:
import pandas as pd
df = pd.read_csv('tennis.csv')
df.head()

    Outlook Temperature Humidity    Wind Play Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3      Rain        Mild     High    Weak         Yes
4      Rain        Cool   Normal    Weak         Yes

In [38]:
df['Outlook'].value_counts()

Outlook
Sunny       5
Rain        5
Overcast    4
Name: count, dtype: int64