In [37]:
import pandas as pd
df = pd.read_csv('tennis.csv')
df.head()

    Outlook Temperature Humidity    Wind Play Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3      Rain        Mild     High    Weak         Yes
4      Rain        Cool   Normal    Weak         Yes

In [38]:
df['Outlook'].value_counts()

Outlook
Sunny       5
Rain        5
Overcast    4
Name: count, dtype: int64

In [39]:
df.isnull()

    Outlook  Temperature  Humidity   Wind  Play Tennis
0     False        False     False  False        False
1     False        False     False  False        False
2     False        False     False  False        False
3     False        False     False  False        False
4     False        False     False  False        False
5     False        False     False  False        False
6     False        False     False  False        False
7     False        False     False  False        False
8     False        False     False  False        False
9     False        False     False  False        False
10    False        False     False  False        False
11    False        False     False  False        False
12    False        False     False  False        False
13    False        False     False  False        False